# Logs
*.log
yarn-debug.log*

# Bsb & reasonML compilation
lib
.merlin
.bsb.lock

# Db data
.pgdata/

# Dependency directories
node_modules/

# Yarn
yarn-error.log
.yarn-integrity

# gatsby files
.cache/
public

# firebase cache files
.firebase/

# Mac files
.DS_Store
