# Logs
*.log
yarn-debug.log*

# dotenv environment variables file
.env

# Bsb & reasonML compilation
lib
.merlin
.bsb.lock
web/src/**/*.js

# Dependency directories
node_modules/

# Yarn
./yarn.lock
yarn-error.log
.yarn-integrity

# gatsby files
.cache/
public

# Mac files
.DS_Store
