# Logs
*.log
yarn-debug.log*

# .env files
.env
.env.production

# Bsb & reasonML compilation
lib
.merlin
.bsb.lock
**/src/**/*.js
**/__tests__/**/*.js

# Dependency directories
node_modules/

# Yarn
yarn-error.log
.yarn-integrity

# gatsby files
.cache/
public

# firebase cache files
.firebase/

# Mac files
.DS_Store
